:root {
    --blue: rgb(102, 115, 228);
    --green: rgb(29, 192, 138);
  }

.nav{
    background:var(--blue);
    display: flex;
    justify-content: space-between;
}
.logo{
  padding: 12px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
}
.left{
    display: flex;
    
}
.left-contents ul{
    display: flex;
    padding: 0 auto;
    justify-content: space-between;
}

ul li{
    color:azure;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    padding: 15px;
    margin-top: 14px;
    justify-content: center;
    align-self: center;
}
.nav-right{
 display: flex;
 padding: 18px;
}
.nav-right p{
    padding-top: 10px;
}
.nav-right button{
    margin-left: 19px;
    border: none;
    background: rgba(45, 111, 196, 0.233);
    padding: 9px;
    display: inline-flex;
    border-radius: 8px;
    cursor: pointer;
}
.nav-right button:hover{
    background: rgba(45, 111, 196, 0.514);
}
.menu-opener{
    display: none;
}
.Link{
    list-style: none;
    text-decoration: none;
    color:white;
    font-family: 'Courier New', Courier, monospace;

}

@media screen and (max-width:700px){
 
         .left-contents{
            display: none;
         }
         .menu-left-content{
            display: block;
            margin-top: 100px; 
         }
         .nav-right{
            display: none;
         }
         .nav-menu-right button{
            display: block;
            padding: 3px;
            width: 75px;
            font-size: 12px;
            height: 30px;
            margin-top: 14px;
            border-radius: 7px;
            outline: none;
            border: 1px solid green;
         }
         .nav-menu-right p{
            margin-left: 13px;
            margin-top: 9px;
            width: 10%; 
         }
         .nav-menu-right{
            display: block;
            align-items: center;
            text-align: center;
            padding-bottom: 14px;
            margin-left: 200px;
            gap: 15px;
            
              
         }
         .nav{
            display: block;
            
         }
        .menu-opener{
            display: block;
            height: 50px;
            position: absolute;
            top:0.7rem;
            right:0.5rem;
            transition-delay: 2s;
        }
        .animate{
            animation:mymove 1s linear 0s alternate;
        }
        .menu-left-content ul li:hover
        {
            background: var(--green);
            border-radius: 9px;

        }
        .nav-menu-right button:hover{
            border: 2px solid greenyellow;

        }
        .nav-menu-right p:hover{
            color:white;
            font-weight: bold;;
        }
       
}

@keyframes mymove {
    0% {opacity:0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}

  }

